.wrapper {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.primary {
  background: #a423a4;
  color: #fff;
}

.rounded {
  border-radius: 999px;
}

.bordered {
  color: #a423a4;
  border-color: currentColor;
}

// Sizes
.small {
  padding: 2px 12px;
  font-size: 1.4rem;
}

.medium {
  padding: 4px 16px;
}

.large {
  padding: 8px 24px;
  font-size: 1.8rem;
}
